.custom-TableBody {
  display: table;
  margin: auto;
}

div.page-container.custom-PageContainer {
  width: 100%;
}

table.Table2__table-scroll.custom-TableScroller {
  table-layout: auto;
  background-color: white;
}

.Table2__arrow,
.Table2__shadow--left,
.Table2__shadow--right {
  display: none;
}
